<!DOCTYPE html>
<html lang="eu"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список Пользователей</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">/</a></li>
            <li><a href="/user/users">Список Пользователей</a></li>
            <li><a href="/municipality/municipalities">Списк Муниципальных образований</a></li>
            <li><a href="/place/places">Список РМ</a></li>
            <li><a href="/construction/constructions">Список РК</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Заявки
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/requests">Заявки</a></li>
                    <li><a href="/approval">Ожидают согласования</a></li>
                    <li><a href="/approved">Согласованные заявки</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <a href="/user/user" class="btn btn-info" role="button">Новый пользователь</a>

    <div th:if="${not #lists.isEmpty(userList)}">
        <table class="table table-striped">
            <h2>Список Пользователей</h2>
            <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Роль</th>
                <th>Муниципальное образование</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${userList}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.login}"></td>
                <td th:text="${user.surname}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.secondName}"></td>
                <td th:text="${user.role}"></td>
                <td th:text="${user.municipality.name}"></td>
                <td><a th:href="${'/user/user/'+{user.id}}" class="btn btn-info">Редактировать</a></td>
                <td>
                    <form action="#" th:action="@{'/user/user/delete/' + ${user.id}}" method="post">
                        <div>
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>