<!DOCTYPE html>
<html lang="eu"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список Рекламных Мест</title>
    <meta  charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">/</a></li>
            <li><a href="/user/users">Список Пользователей</a></li>
            <li><a href="/municipality/municipalities">Списк Муниципальных образований</a></li>
            <li><a href="/place/places">Список РМ</a></li>
            <li><a href="/construction/constructions">Список РК</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Заявки
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/requests">Заявки</a></li>
                    <li><a href="/approval">Ожидают согласования</a></li>
                    <li><a href="/approved">Согласованные заявки</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div th:if="${not #lists.isEmpty(adPlaceList)}">
        <table class="table table-striped">
            <h2>Список Рекламных Мест</h2>
            <thead>
            <tr>
                <th>ID</th>
                <th>Владелец</th>
                <th>Адрес</th>
                <th>Муниципальное образование</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="adPlace:${adPlaceList}">
                <td th:text="${adPlace.id}"></td>
                <td th:text="${adPlace.owner}"></td>
                <td th:text="${adPlace.address}"></td>
                <td th:text="${adPlace.municipality.name}"></td>
                <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Удалить</button>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Вы уверены?</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="btn-group btn-group-justified">
                                        <div class="btn-group">
                                            <form action="#" th:action="@{'/place/place/delete/' + ${adPlace.id}}" method="post">
                                                <div>
                                                    <button type="submit" class="btn btn-danger">Удалить</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>