<!DOCTYPE html>
<html lang="eu"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Заявка</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/logout">Выход</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">МО и Пользователи
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/municipality/municipalities">Муниципальные Образования</a></li>
                    <li><a href="/user/users">Пользователи</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">РК и РМ
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/place/places">Рекламные Места</a></li>
                    <li><a href="/construction/constructions">Рекламные конструкции</a></li>
                </ul>
            </li>
            <li class="active"><a href="#">Заявки:</a></li>
            <li><a href="/requests">Заявки Пользователя</a></li>
            <li><a href="/approval">Отправленные На Согласование</a></li>
            <li><a href="/approved">Согласованные Заявки</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="col-xs-12">
                <div class="input-group input-group-lg">
                    <div class="form-group">
                        <h2>Заявитель:</h2>
                        <p class="form-control"
                           th:text="${request.requester.surname} +  ' ' + ${request.requester.firstName} + ' ' + ${request.requester.secondName}"></p>
                    </div>
                    <div class="form-group">
                        <label>Стутус Заявки:</label>
                        <p class="form-control" th:text="${request.status}"></p>
                    </div>
                    <div class="form-group">
                        <label>Версия Заявки:</label>
                        <p class="form-control" th:text="${request.version}"></p>
                    </div>
                    <h3>Данные Рекламного Места</h3>
                    <div class="form-group">
                        <label>Собственник РМ:</label>
                        <p th:text="${request.adPlace.owner}" class="form-control"></p>
                    </div>
                    <div class="form-group">
                        <label>Адрес РМ:</label>
                        <p th:text="${request.adPlace.address}" class="form-control"></p>
                    </div>

                    <h3>Данные Рекламной Конструкции</h3>
                    <div class="form-group">
                        <label>Собственник РК:</label>
                        <p th:text="${request.adConstruction.owner}" class="form-control"></p>
                    </div>
                    <div class="form-group">
                        <label>Номер РК:</label>
                        <p th:text="${request.adConstruction.number}" class="form-control"></p>
                    </div>
                    <div class="form-group">
                        <label>Статус РК:</label>
                        <p th:text="${request.adConstruction.status}" class="form-control"></p>
                    </div>
                    <div class="form-group">
                        <label>Тип РК:</label>
                        <p th:text="${request.adConstruction.type}" class="form-control"></p>
                    </div>

                    <h3>Причина отклонения заявки (если есть:)</h3>
                    <div class="form-group">
                        <p th:text="${request.rejected}" class="form-control"></p>
                    </div>
                    <br/>
                    <br/>
                    <div class="form-group">
                        <button type="button" data-toggle="modal" data-target="#successModal" class="btn btn-success">
                            Согласовать заявку
                        </button>
                        <div class="modal fade" id="successModal" role="dialog">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Вы уверены?</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="btn-group btn-group-justified">
                                            <div class="btn-group">
                                                <button th:href="${'/approve/'+{request.id}}" class="btn btn-success">Согласовать</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Отмена
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" data-toggle="modal" data-target="#rejectModal" class="btn btn-danger">
                            Отклонить заявку
                        </button>
                        <div class="modal fade" id="rejectModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form action="#" th:action="@{'/reject'}" th:object="${request}" method="post">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Вы уверены?</h4>
                                        </div>
                                        <div class="modal-body">
                                            <input type="hidden" th:field="*{id}">
                                            <input type="hidden" th:field="*{status}" th:value="'Отклонена'">
                                            <input type="hidden" th:field="*{version}">
                                            <input type="hidden" th:field="*{adConstruction.id}">
                                            <input type="hidden" th:field="*{adPlace.id}">
                                            <input type="hidden" th:field="*{requester.id}">

                                            <input type="hidden" th:field="*{createDate}">

                                            <label>Причина отклонения заявки:</label>
                                            <input class="form-control input-sm" th:field="*{rejected}" required>
                                        </div>

                                        <div class="modal-footer">
                                            <div class="btn-group btn-group-justified">
                                                <div class="btn-group">
                                                    <button type="submit" class="btn btn-danger">Отклонить</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6" style="background-color:#cccccc;">
            <div class="col-xs-12">
                <div class="input-group input-group-lg">
                    <div th:if="${(fromArchive)}">
                        <div class="form-group">
                            <p>Информация из архива</p>
                            <h2>Заявитель:</h2>
                            <p class="form-control"
                               th:text="${fromArchive.requester.surname} +  ' ' + ${fromArchive.requester.firstName} + ' ' + ${fromArchive.requester.secondName}"></p>
                        </div>
                        <div class="form-group">
                            <label>Стутус Заявки:</label>
                            <p class="form-control" th:text="${fromArchive.status}"></p>
                        </div>
                        <div class="form-group">
                            <label>Версия Заявки:</label>
                            <p class="form-control" th:text="${fromArchive.version}"></p>
                        </div>
                        <h3>Данные Рекламного Места</h3>
                        <div class="form-group">
                            <label>Собственник РМ:</label>
                            <p th:text="${fromArchive.adPlaceOwner}" class="form-control"></p>
                        </div>
                        <div class="form-group">
                            <label>Адрес РМ:</label>
                            <p th:text="${fromArchive.adPlaceAddress}" class="form-control"></p>
                        </div>

                        <h3>Данные Рекламной Конструкции</h3>
                        <div class="form-group">
                            <label>Собственник РК:</label>
                            <p th:text="${fromArchive.adConstructionOwner}" class="form-control"></p>
                        </div>
                        <div class="form-group">
                            <label>Номер РК:</label>
                            <p th:text="${fromArchive.adConstructionNumber}" class="form-control"></p>
                        </div>
                        <div class="form-group">
                            <label>Статус РК:</label>
                            <p th:text="${fromArchive.adConstructionStatus}" class="form-control"></p>
                        </div>
                        <div class="form-group">
                            <label>Тип РК:</label>
                            <p th:text="${fromArchive.adConstructionType}" class="form-control"></p>
                        </div>

                        <h3>Причина отклонения заявки (если есть:)</h3>
                        <div class="form-group">
                            <p th:text="${fromArchive.rejected}" class="form-control"></p>
                        </div>
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>